*~
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debugging symbols
*.dSYM

# Autoconf files
.deps
aclocal.m4
autom4te.cache
config
config.h
config.h.in
config.log
config.status
configure
ensc_version.m4
libtool
Makefile
Makefile.in
stamp-h1

# for this particular style of project executables have no extensions
src/Tests/*Test
src/Programs/*
!src/Programs/*.*
src/Programs/*.*~
src/Programs/.deps
src/Programs/*.o
src/Programs/Makefile.in

